<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />

<table>
   <th:block th:each="vue : ${vuelos}">
      <tr>
         <td th:text="${vue.idVuelo}">...</td>
         <td th:text="${vue.ciudad}">...</td>
         <td th:text="${vue.pasajeros}">...</td>
      </tr>
     
   </th:block>
</table>
   </body>
</html>